<div class="container">
    <div class="container">
        <h1>Profile:</h1>
        <h3>Name: <%= user.name %></h3>
        <h3>Username: <%= user.username %></h3>
        <h3>ID: <%= user.id %></h3>
        <h3>Email: <%= user.email %></h3>
        <h3>Last Activity On: <%= user.last_activity %></h3>
        <img src="<%= user.avatar %>" alt="avatar" class="avatar">

        <div>
            <h1>Activities: </h1>
        </div>
    </div>
  </div>