<div class="container">
    <div class="inner-container">
      <h1>Groups and projects</h1>
      <% for (let i = 0; i < projects.length; i++) {%>
      <div class="group">
        <h3>Group name: <%= groups[i].name %></h3>
        <h3>URL: <%= groups[i].web_url %></h3>
        <h3>Path: <%= groups[i].path %></h3>
        <% if (groups[i].avatar_url) { %>
        <img src="<%= groups[i].avatar_url %>" alt="avatar" class="avatar">
        <% } %>
      
      <% for (let j = 0; j < projects[i].length && j < 5; j++) {%>
        <div class="project">
            <h5>Project name: <%= projects[i][j].name %></h5>
            <h5>Project link: <%= projects[i][j].web_url %></h5>
            <h5>Path: <%= projects[i][j].path %></h5>
            <% if (projects[i][j].commit[0]) { %>
            <div>
                <h5>Commit: </h5>
                <p>Commit date: <%= projects[i][j].commit[0].authored_date %></p>
                <p>Author: <%= projects[i][j].commit[0].author_name %></p>
                <p>Username: <%= projects[i][j].commit[0].committer_name %></p>
            </div>
            <% } %>
            <% if (projects[i][j].avatar_url) { %>
            <img src="<%= projects[i][j].avatar_url %>" style="width: 50px; height: 50px;" alt="avatar" class="avatar">
            <% } %>
            </div>
            <% } %>
            <% if (projects[i].length > 5) { %>
                <h3>There are more projects in this group...</h3>
                <% } %>
        <% } %>
    </div>
    </div>
  </div>
  